html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
    line-height: 1.6em;
    font-family: Arial;
    border-radius-topleft: collapse;
    -moz-border-radius-topleft: 15px;
    background-color: #FFFFFF;
    min-height: 500px;
    width: 100%;
}
#container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 200px;
}
#header{
    background: -webkit-linear-gradient(top, #95c5fc, #FFFFFF);
    background: -moz-linear-gradient(top, #95c5fc, #FFFFFF);
    text-shadow:gray 2px 1px 3px;
    color:#2E3436;
    font-size:1.6em;
    width: 100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

#header img{
    vertical-align: top
}

#header h1{
    display: inline;
    line-height:    1.6em;
}

#header p{
    font-size: 0.8em;
    text-shadow:none;
    color: #7D7F7B;
    line-height:    1em;
    display: inline;
}

#content{
    float: right;
    width: 80%;
    margin: 0em 1em 1em 1em;
}

#navigation{
	white-space: nowrap;
    background: #FFFFFF;
    width: 250px;
    float: left;
    position: absolute;
    overflow: auto;
    box-shadow: 2px 0 2px rgba(0,0,0,0.3);
    -moz-border-radius-topleft: 15px;
    border-radius-topleft: 15px;
    list-style: none;
    /*height: 100%;*/
    /* Rectangle 1: */

    /*border: 1px solid #979797;*/
    /* Border makes the navigation thicker*/
    /*margin-left: -2px;*/
}
#navigation a{
    text-decoration: none;
}
#navigation ul{
    margin-top: auto;
    list-style: none;
    margin-left: 1em;
    padding-left: 0em;
    padding-left: 0.8em;
    margin-bottom: 0em;
    /* padding-right: 0.8em; */
    /* margin-left: 1em; */
    /* margin-right: 0.5em; */
}

#navigation li{
    /*padding-left: 0.5em;*/
    /*background-color: red;*/
    margin-left: 0em;
}

#navigation .scorpus-item{
    background-image: -o-linear-gradient(180deg, #D8D8D8 0%, #C8C8C8 100%);
    background-image: -moz-linear-gradient(-90deg, #D8D8D8 0%, #C8C8C8 100%);
    background-image: -webkit-linear-gradient(180deg, #D8D8D8 0%, #C8C8C8 100%);
    background-image: -ms-linear-gradient(180deg, #D8D8D8 0%, #C8C8C8 100%);
    background-image: linear-gradient(180deg, #D8D8D8 0%, #C8C8C8 100%);
    padding-left: 0.5em;
}
#navigation .scorpus-item:before {
    font-size: 0.8em;
    content: "▼";
    color: #888A85;
    padding-right: 0.5em;
}
#navigation .scorpus-item.minimized:before {
    font-size: 0.8em;
    content: "►";
    color: #888A85;
    padding-right: 0.5em;
}

#nav-toggle{
    background: green;
    padding: 5px;
    text-align:center;
    height: auto;
    width: 20px;
    float: right;
}

#footer {
    clear:both;
    margin-top:1em;
    background:#efefef;
    text-align:center;
    padding:10px;
}
.data-entryName:hover{
    background: #2D60A6;
    color: white;
}

.data-entryName:after{
    content:url('../img/information.png')
}


.tooltip-text {
    position: absolute;
    background: white;
    box-shadow: 0 0 6px rgba(0,0,0,0.3);
    width: 180px;
    padding: 1em;
    margin-top: 5px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    font-size: 0.8em;
}



