html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
    line-height: 1.6em;
    font-family: Arial;
    border-collapse: collapse;
    background-color: #FFFFFF;
    min-height: 500px;
}


.btn-minimize{
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	border: 0;
	border-radius: 4px;
	/*box-shadow: 0 2px 6px rgba(0,0,0,0.3);*/
	float: right;
	padding: 0.2em;
	margin-right: 0.5em;
}

.btn-toogle-sannotation-dropdown{
	float: right;
}

/*.slayer-link {
	background-color: #D8D8D8;
	color: #2E3436;
	margin: 0.5em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-radius: 20px;
	text-decoration: none;
	color: black;
	/*font-weight: bold;*/
	font-size: 10pt;
}
*/


 h2,h3{
	/*padding: 0.8em;*/
	/*line-height: 0.8em;*/
	margin: 0em 0em 0.5em 0;
}

h3{
	background-color: #2D60A6;
	/*float: left;*/
	padding: 0.5em;
	margin-bottom: 0;
	border-radius: 4px 4px 0px 0px;
	color: white;
}


.data-view{
	/*margin: 1em;*/
	/*padding: 1em;*/
	background-color: #95c5fc;
	border: 1px solid #2D60A6;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.svalue{
	width: 33%;
	float: left;
}

.value.preview{
	display: block;
	background: red;
}
.sdocument{
	width: 100%;
	/*float: left;*/
	/*font-weight: bold;*/
}
.svalue-text{
	font-weight: bold;
}

.sannotationinfo-sname{
	font-weight: bold;
}
.svalue-occurances:before{
	content: " (";
}
.svalue-occurances:after{
	content: ")";
}

.sannotationinfo-count:before{
	content: " (";
}
.sannotationinfo-count:after{
	content: ")";
}



table{
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	text-align: left;
	vertical-align: top;
	border: 1px solid #2D60A6;
}

.subtable{
	background: #95C5FC;
}

/*th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}*/

.sdocument-slayer{
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

 table {
	width: 100%;
	/*margin-bottom: 10px;*/
	background-color: #FFFFFF;

}
.sdocument-slayer {
	margin: 1em 0em 1em 1em;

}
.sdocument-slayer table{
	margin-bottom: 0em;
}

th{
	/*color: white;*/
	background-color: #95C5FC;
	padding: 0.5em 0em 0.5em 0.5em;

}

td{
	padding: 10px 16px;
	margin-left: 1px;
	margin-right: -1px;
	/*border-color: #729FCF;*/
	border-bottom: 1px #2D60A6 solid;
	vertical-align: top;
	/*border-top: 1px solid transparent;*/
}

.values{
	text-align: right;
}

#content table .name{
	width: 30%;
}

.dropdown {
	/*display: none;*/
}

.main-corpus{
	/*display: none;*/
}

.sub-corpus{
	/*display: none;*/
}

a.tooltip img{
	padding-left: 0.5em;
}

a.tooltip
{     text-decoration: none;
      position:relative;

}

a.tooltip span  { display: none; }         /* ! */

#info
{     position: absolute;              /* ! */
      display: none;                   /* ! */
      width: 200px;
      background: #ffffdd; padding: 7px;
      border: 1px solid #666666;
      font-family: Verdana;
	  font-size: 11px;
}

#info b
{     display: block;
      border-bottom: 1px solid #666666;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 12px;
}
