
/*body {
    line-height: 1.6em;
    font-family: Arial;
    border-collapse: collapse;
    background-color: #FFFFFF;
    min-height: 500px;
}*/


.btn-minimize{
	background-color: #4d90fe;
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	border: 0;
	border-radius: 4px;
	/*box-shadow: 0 2px 6px rgba(0,0,0,0.3);*/
	float: right;
	padding: 0.2em;
	margin-right: 0.5em;
}

.btn-toogle-sannotation-dropdown{
	/*float: right;*/
}

/*.slayer-link {
	background-color: #D8D8D8;
	color: #2E3436;
	margin: 0.5em;
	padding-left: 0.6em;
	padding-right: 0.6em;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
	border-radius: 20px;
	text-decoration: none;
	color: black;
	/*font-weight: bold;*/
	font-size: 10pt;
}*/


h3{
	background-color: #2D60A6;
	/*float: left;*/
	padding: 0.5em;
	margin-bottom: 0;
	border-radius: 4px 4px 0px 0px;
	color: white;
}


.data-view{
	/*margin: 1em;*/
	padding: 1em;
	background-color: #95c5fc;

}

.svalue{
	width: 25%;
	float: left;
	padding-left: 1em;
}

.slayer-list{
    margin-left: 1em;
}

.value.preview{
	display: block;
	background: red;
}
.sdocument{
	width: 100%;
	/*float: left;*/
	/*font-weight: bold;*/
}
.svalue-text{
	font-weight: bold;
}

.sannotationinfo-sname{
	font-weight: bold;
}
.svalue-occurrences:before{
	content: " (";
}
.svalue-occurrences:after{
	content: ")";
}

.sannotationinfo-count:before{
	content: " (";
}
.sannotationinfo-count:after{
	content: ")";
}



table{
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
	text-align: left;
	vertical-align: top;
	border: 1px solid #2D60A6;
    width: 100%;
    /*margin-bottom: 10px;*/
    background-color: #FFFFFF;
    margin-bottom: 0em;
}

.subtable{
	background: #95C5FC;
}

/*th:first-child {
    -moz-border-radius: 6px 0 0 0;
    -webkit-border-radius: 6px 0 0 0;
    border-radius: 6px 0 0 0;
}

th:last-child {
    -moz-border-radius: 0 6px 0 0;
    -webkit-border-radius: 0 6px 0 0;
    border-radius: 0 6px 0 0;
}

th:only-child{
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}*/



th{
	/*color: white;*/
	background-color: #95C5FC;
	padding: 0.2em;

}

.data-structuralInfo th{
    width: 50%;
}

td{
	padding: 5px;
	margin-left: 1px;
	margin-right: -1px;
	/*border-color: #729FCF;*/
	border-bottom: 1px #2D60A6 solid;
	vertical-align: top;
	/*border-top: 1px solid transparent;*/
    white-space: PRE;
}

.boxed{
    border: 1px solid black;
}

button{
    float: right;
}

td:first-child{
    width: 250px;
}

.svalue-occurrences{
    /*float: right;*/
}

.values{
	text-align: right;
}

#content table .name{
	width: 30%;
}

.dropdown {
	/*display: none;*/
}

.main-corpus{
	/*display: none;*/
}

.sub-corpus{
	/*display: none;*/
}


.sannotationinfo-sname:after{
    content:url('../img/information.png')
}


