.tree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 10px;
	white-space: nowrap;
}
.tree img {
	border: 0px;
	height: 18px;
	vertical-align: text-bottom;
}
.tree a {
	color: #000;
	text-decoration: none;
}
.tree a:hover {
	color: #345373;

}
a.tooltip
{     text-decoration: none;
      position:relative;
      
}

a.tooltip span  { display: none; }         /* ! */

#info
{     position: absolute;              /* ! */
      display: none;                   /* ! */
      width: 200px;
      background: #ffffdd; padding: 7px;
      border: 1px solid #666666;
      font-family: Verdana;
	  font-size: 11px;
}

#info b
{     display: block;
      border-bottom: 1px solid #666666;
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 12px;
}